
<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8">
        <title>my server answer </title>
        <meta name="description" content="express app class">
	</head>

	<body>
      <h1> !  <span id = "firstname"><%= firstName %></span> <span id = "lastname"><%= lastName %></span>  שלום</h1>
	</body>
</html>