<<<<<<< Updated upstream

<!DOCTYPE html>
<html>
	<head>
		<script src="/views/main.js" ></script>
        <style>
        
        @import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
        
        * {
            direction: rtl;
            line-height: 50px;
            font-family: 'Varela Round', sans-serif;
        }

        #main_div {
            background-color: bisque;
            height:100%;
            width: 100%;
        }

        #form {
            border: 3px solid rgb(78, 78, 78);
            border-radius: 30px;
            margin: 5% 25% 5% 25%;
            padding: 5%;
            padding-top: 0px;
        }

        br {
            display: block;
            margin: 2px;
        }

        .labels {
            display: inline-block;
            margin-left: 10px;
            color: #999999;
            min-width: 120px;
            font-size: 1.5em;
            text-decoration: underline;
        }

        .inputs {
            width: 60%;
            border: 3px solid rgb(78, 78, 78);
            margin: 10px;
            padding-right: 20px;
            border-radius: 20px;
        }


        #submit_button{
            width: 100%;
        }

        #color_input{
            width: 20%;
            border: none;
            margin: 0 20px 0 0;
        }




        </style>
	</head>
	<body>
        <div id = "main_div">
            
            <form action="/submit-get" target="_blank" id = "form">
                <h1>טופס להגשה בשיטת GET</h1>

                <label id = "label1" class = "labels" >שם פרטי: </label>
                <input class = "inputs" type="text" name="first" placeholder = "כאן...">
                <br><br>

                <label id = "label2" class = "labels">שם משפחה: </label>
                <input class = "inputs" type="text" name="last" placeholder = "כאן...">
                <br><br>

                <label id = "label3" class = "labels">צבע מועדף: </label>
                <input id = "color_input" class = "inputs"  type="color" name="fcolor" placeholder = "כאן...">
                <br><br>

                <label id = "label4" class = "labels">תאריך לידה:</label>
                <input class = "inputs"  type="date" name="birth-date" >
                <br><br>

                <input id = "submit_button" type="submit" value="שלח">

            </form>
        </div>
	</body>
</html>


=======

<!DOCTYPE html>
<html>
	<head>
		<script src="/views/main.js" ></script>
        <style>
        
        @import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
        
        * {
            direction: rtl;
            line-height: 50px;
            font-family: 'Varela Round', sans-serif;
        }

        #main_div {
            background-color: bisque;
            height:100%;
            width: 100%;
        }

        #form {
            border: 3px solid rgb(78, 78, 78);
            border-radius: 30px;
            margin: 5% 25% 5% 25%;
            padding: 5%;
            padding-top: 0px;
        }

        br {
            display: block;
            margin: 2px;
        }

        .labels {
            display: inline-block;
            margin-left: 10px;
            color: #999999;
            min-width: 120px;
            font-size: 1.5em;
            text-decoration: underline;
        }

        .inputs {
            width: 60%;
            border: 3px solid rgb(78, 78, 78);
            margin: 10px;
            padding-right: 20px;
            border-radius: 20px;
        }


        #submit_button{
            width: 100%;
        }

        #color_input{
            width: 20%;
            border: none;
            margin: 0 20px 0 0;
        }




        </style>
	</head>
	<body>
        <div id = "main_div">
            
            <form action="/submit-get" target="_blank" id = "form">
                <h1>טופס להגשה בשיטת GET</h1>

                <label id = "label1" class = "labels" >שם פרטי: </label>
                <input class = "inputs" type="text" name="first" placeholder = "כאן...">
                <br><br>

                <label id = "label2" class = "labels">שם משפחה: </label>
                <input class = "inputs" type="text" name="last" placeholder = "כאן...">
                <br><br>

                <label id = "label3" class = "labels">צבע מועדף: </label>
                <input id = "color_input" class = "inputs"  type="color" name="fcolor" placeholder = "כאן...">
                <br><br>

                <label id = "label4" class = "labels">תאריך לידה:</label>
                <input class = "inputs"  type="date" name="birth-date" >
                <br><br>

                <input id = "submit_button" type="submit" value="שלח">

            </form>
        </div>
	</body>
</html>


>>>>>>> Stashed changes
